.container_main{
    padding: 10px;
    height: 1000px;
    width: 100%;
    background-color: rgb(61, 248, 241);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    font-family: cursive;
    border-radius: 50px;
  }
  
  .navbar a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
  }
  
  .signup-button {
    background-color: #0080ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
  }

  .left-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .right-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .main_h{
    font-size:xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
